*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.freddy1{
    height: 30%;
    width: 30%;
}

.container{
    margin: auto;
    width: 50%;
    background-color: lightblue;
    margin-top: 10%;
    padding: 10px;
    padding-left: 19%;
    border: 3px solid black;
}