*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.indexpage{
    height: auto;
    width: auto;

}

.navbar{
    height: 105px;
    width: auto;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 25px;
    
}

.headlogocont{
    height: 50px;
    width: 50px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.navlinks{
    height: 50px;
    width: 900px;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    padding-top: 10px;
    font-family: 'Nunito', sans-serif;
    
    
    
 }

    .navlinks a {
        float: left;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 17px;
        
    }
    
    
    .navlinks a:hover {
        background-color: skyblue;
        border-radius: 10%;
        color: black;
    }
    

    .navlinks a.active {
        
        color: white;
}

.introductiesectie{
    height: 300px;
    width: auto;
    background-image: url('../image/vakantieintro2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #092a5e;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 100px;
                
    background-size: 100%;
    font-family: 'Nunito', sans-serif;

}

.wereldtextsectie{
    height: 550px;
    width: auto;
    color: #092a5e;
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    background-color: #fafaeb;
    
}


.sectie2img{
    height: 400px;
    width: 400px;
    border: 5px solid rgb(247, 247, 247);
    background-color: rgb(208, 254, 242);
   
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 50px;
    font-size: x-large;
    box-shadow:  5px black;
}

.sectie3{
    height: 400px;
    width: 400px;
    
    margin-top: 50px;
}

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* contact page css*/
  .reisblok{
      height: 80px;
      width: auto;
      display: flex;
      justify-content: center;
  }

  .reisadvertentie{
      height: 50px;
      width: 700px;
      display: flex;
      justify-content: center;
      background-color: skyblue;
      color: #092a5e;
      font-size: large;
      margin-left: 50px;
      margin-top: 20px;
      padding-top: 15px;
      font-family: 'Nunito', sans-serif;

  }
  

 .reisadvertentie a:visited {
    color: rgb(239, 5, 44);
    background-color: transparent;
    text-decoration: none;
  }
  .contactblok{
      height: 110px;
      width: auto;
    
 }


  .contacttiteltext{
      height: 40px;
      width: auto;
      color: #092a5e;
      margin-top: 60px;
      margin-left: 110px;
      font-family: 'Nunito', sans-serif;


}


/* hierin staat de locatie en de link naar de form pagina*/
.contactformblok{
 height: 700px;
 width: auto;
background-color: aliceblue;
 display: flex;
 justify-content: space-around;
}
 

.contacttextsectie{
  height: 400px;
  width: 650px;
  border: 5px solid rgb(247, 247, 247);
  color: #fafaeb;
  background-color:  #5cbcc07b;
  font-family: 'Nunito', sans-serif;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 5px;
  padding-top: 20px;
  font-size: large;
}

.contacttextsectie p{
 padding: 20px;
  
}

.contacttextsectie h2{
  padding: 10px;
}


.googlemapssectie{
  height: 400px;
  width: 380px;
  margin-top: 50px;
  margin-right: 50px;
 border: 1px solid black;
}


.locatieblok{
    height: 600px;
    width: auto;
    padding-top: 100px;
    background-image: url('../image/vakantiepromo.jpg');
    background-repeat: no-repeat;
    
    
    
	
}

.locatieblok2{
    height: 500px;
    width: 80%;
    display: flex;
	justify-content: space-between;
   background-color: antiquewhite;
    margin-left: 10%;
    margin-bottom: 50px;
    opacity: 90%;
    
	
}
.locatietext{
    height: 200px;
    width: auto;
    background-color: whitesmoke;
    margin-left: 25px;
    margin-top: 50px;
    padding-top: 75px;
    border-radius: 25%;
}

.googlemapsholder{
    height: 500px;
    width: 300px;
    margin-right: 100px;
    margin-top: 50px;
}

/*info pagina */
/**/
/**/
/* het witte blokje met daarin een div dat een linkje moet voorstellen dus een soort van ad*/
.reisadverblok2{
    height: 250px;
    width: auto;
    display: flex;
    justify-content: center;
    background-image: url('../image/palm.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}

.reisadvertentie2{
    height: 60px;
    width: 750px;
    display: flex;
    justify-content: center;
    background-color: skyblue;
    color: #092a5e;
    font-size: large;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 15px;
    font-family: 'Nunito', sans-serif;

}


.reisadvertentie2 a:visited {
  color: rgb(239, 5, 44);
  background-color: transparent;
  text-decoration: none;
}

/* hierin zit het info van hetv bedrijf met de gekleurde foto's*/
.infointroductie1{
  height: 550px;
  width: auto;
  color: #092a5e;
  font-weight: bold;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  background-color: #fafaeb;
  
}

.sectieinfo{
    height: 400px;
    width: 750px;
    border: 5px solid rgb(247, 247, 247);
    color: #fafaeb;
    background-color:  #5cbcc07b;
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;
    padding-top: 50px;
    font-size: large;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
 }

.sectieinfo p {
    
    padding: 20px;
}



.infotextsectie{
    height: 900px;
    width: auto;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: #fafaeb;
    
}

.sectietext2{
  height: 500px;
  width: 700px;
  border: 5px solid rgb(247, 247, 247);
  color: #fafaeb;
  background-color:  #5cbcc07b;
  font-family: 'Nunito', sans-serif;
  margin-top: 150px;
  margin-left: 50px;
  font-size: large;
  
  
  
}

.sectietext2 p {
  
  padding: 20px;
  
}

.sectieinfoafb2{
    height: 400px;
    width: auto;
    border: 1px solid black;
    
   
    margin-top: 200px;
    margin-right: 50px;

}


/*gebruikers login page design*/
/*-------------------------------------------------------------------------*/


  
  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(212, 206, 206, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  /*------------------------------------------------------------------------*/
/*einde userlogin*/


  /*contact form???*/
  